@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Raleway", sans-serif;
}

.gradientOverlay {
  background: linear-gradient(90deg, #f14602, #c43700, #8a2700);
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  letter-spacing: 1px;
}

.spinner_container {
  @apply flex flex-col space-y-2 justify-center items-center;
}

/*Navbar*/
.navbarContainer {
  @apply bg-slate-100 px-3;
}
.navbarContent {
  @apply max-w-[1000px] mx-auto py-4 flex flex-col space-y-3 justify-center items-center md:flex-row md:space-y-0;
}
.logo {
  @apply font-[900] text-[20px] md:text-[25px] gradientOverlay;
}

/*Navbar End*/

/*Description*/
.descriptionContainer {
  @apply my-6 p-6 rounded-md;
}
/*Description End*/

/*Search*/
.searchContainer {
  @apply flex items-center space-x-6 text-orange-400 font-[600] uppercase  justify-center pb-3 md:pb-2;
}
.form {
  @apply flex space-x-3 text-[12px] md:text-[16px];
}
.inputContainer {
  @apply placeholder:italic text-[16px] placeholder:text-[12px] text-slate-700 placeholder:text-slate-500 block bg-white w-full border border-orange-500 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-orange-500 focus:ring-orange-500 focus:ring-1 sm:text-sm ease-in-out duration-500;
}
.searchButton {
  @apply px-6 rounded-md bg-orange-500 text-white hover:bg-orange-600 ease-in-out duration-500;
}
/*Search End*/

/*Product Card*/
.productCardContainer {
  @apply border-2 border-orange-200 my-6 mx-3 py-4;
}
.productCardContent {
  @apply flex flex-col items-center md:flex-row mx-3;
}
.section3 {
  @apply w-full flex justify-center flex-col my-6 items-center text-slate-500 space-y-3;
}
.buttonContainer {
  @apply flex space-y-3 flex-col justify-center items-center  mt-2 md:space-x-3 md:flex-row md:space-y-0;
}
.cardButton {
  @apply border-2 bg-orange-500 text-white border-orange-300 px-6 py-2 w-[200px] rounded-md hover:border-orange-800 ease-in-out duration-500 text-[14px] md:text-[16px];
}
/*Product Card End*/

/*Products*/
.productContainer {
  @apply flex justify-center items-center;
}
.presentationContainer {
  @apply flex flex-col justify-center items-center mx-3 md:w-[600px] border-2 bg-orange-100 p-3 mt-3 border-orange-400 text-center rounded-lg;
}
.startSearch {
  @apply font-[700] text-orange-700 text-[16px] md:text-[20px] uppercase my-3;
}
/*Products End*/
